.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #282c34;
}

.AppHeader {
  height: 90px;
  display: flex;
  background-color: black;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 50px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: wrap;
}

.AppBody {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #333;
}

.input {
  background: #f2f2f2;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  border-radius:  4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.formField {
  margin: 10px 0;
  width: 100%;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.formField:hover {
  border-color: #0070f3;
  box-shadow: 0 0 5px rgba(0, 122, 243, 0.5);
}

.formButton {
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #0070f3;
  color: #fff;
  cursor: pointer;

}


.transactionLink {
  color: #61dafb;
  text-decoration: none;
  margin-top: 5px;
  font-size: 20px;
  transition: color 0.3s ease;
}
.transactionLink:hover {
  color: #21a1f1;
}
